x-logging: &default-logging
  driver: json-file
  options:
    max-size: "20m"
    max-file: "3"

services:
  dozzle:
    image: amir20/dozzle:latest
    container_name: dozzle
    restart: unless-stopped
    logging: *default-logging
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - dozzle_data:/data
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dozzle.rule=Host(`logs.{{ domain }}`)"
      - "traefik.http.routers.dozzle.entrypoints=websecure"
      - "traefik.http.routers.dozzle.tls.certresolver=myresolver"
      # Sécurité : Utilise le middleware BasicAuth défini dans le service Traefik
      - "traefik.http.routers.dozzle.middlewares=authtraefik@docker"
      - "traefik.http.services.dozzle.loadbalancer.server.port=8080"

volumes:
  dozzle_data:

networks:
  proxy:
    external: true
